{% extends "base" %}

{% block links %}
    <link rel="stylesheet" href="/static/page.css" />
{% endblock links %}

{% block body %}
    {% include "header" %}
    <div class="content">
        {{ content|markdown }}
    </div>
{% endblock body %}
