{% extends "base" %}

{% block links %}
  <link rel="stylesheet" href="/static/page.css" />
{% endblock links %}

{% block content %}
  <div class="content">
    {{ content|markdown }}
  </div>
{% endblock content %}
