<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{template}}.css">
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>
